@value colors: "../variables.css";
@value primaryText, background-main, border-card from colors;

.menu {
  display: flex;
  gap: 30px;
  align-items: center;
  height: 10vh;
  /* margin: 0 5%; */
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: background-main;
}

.link {
  text-decoration: none;
  color: primaryText;
}

.link:hover {
  cursor: pointer;
  text-decoration: dashed;
  color: border-card;
}