@value colors: "../variables.css";
@value main, accent, background-main, border-card from colors;

.menu {
  display: flex;
  gap: 30px;
  align-items: center;
  height: 10vh;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: background-main;
}

.link {
  text-decoration: none;
  color: main;
  font-weight: 800;
  font-size: 1.25rem;

}

.link:hover {
  cursor: pointer;
  text-decoration: dashed;
  color: border-card;
}