@value colors: "../variables.css";
@value accent, main, background-buttonAdd, background-buttonEdit, background-buttonDel from colors;

.tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
  background-color: rgb(245, 245, 245);
  border-radius: 8px;
}

.td {
  margin: 0 0 0 1%;
  padding: 5px;
  width: 30%;
}

.input {
  padding: 5px;
  width: 85%;
}

.english {
  font-weight: 600;
}

.buttonСontainer {
  display: flex;
  justify-content: space-between;
}

.remove:hover, .cancel:hover {
  color: accent;
}