.menu {
  display: flex;
  gap: 30px;
  align-items: center;
  height: 10vh;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--background-color);
}

.link {
  text-decoration: none;
  color: var(--headline-color);
  font-weight: 700;
  font-size: 1.25rem;
}

.link:hover {
  cursor: pointer;
  text-decoration: dashed;
  color: var(--accent-color);
}