@value colors: "../variables.css";
@value border-card, background-card, text-translation from colors;

.card {
  /* width: max-content; */
  min-width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  margin: 10px;
  padding: 15px;
  border: 2px solid border-card;
  background-color: background-card;
}

.english {
  font-weight: 700;
  font-size: 1.5rem;
  padding: 50% 0 0;

}

.translation {
  height: 20px;
  padding: 30% 0;
}

.russian {
  color: text-translation;
  font-weight: 600;
}