@value colors: "../variables.css";
@value border-card, background-card, text-translation from colors;

.card {
  width: max-content;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: 10px;
  padding: 15px;
  border: 2px solid border-card;
  background-color: background-card;
}

.english{
  width: 100%;
  height: 100%;  
  font-weight: 700;
  font-size: 1.5rem;
  padding: 50% 0 0;

}

.translation {
  width: 100%;
  height: 20px;
  padding: 30% 0;
}

.russian {
  color: text-translation;
  font-weight: 600;
}