@import url('../variables.css');

.card {
  width: 180px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 10px;
  margin: 5%;
  padding: 20px;
  box-shadow: 2px 2px 7px 7px var(--card-shadow);
}

.english {
  font-weight: 700;
  font-size: 1.8rem;
  max-width: 100%;
  padding: 10% 0;
}

.transcription {
  max-width: 100%;
  padding: 10% 0;
  color: var(--secondary-color);
}

.translation {
  min-height: max-content;
  max-width: 100%;
  padding: 10% 0;
}

.russian {
  height: 40px;
  font-weight: 600;
  color: var(--primary-color);
}

.button {
  height: 40px;
  background-color: var(--primary-color) !important;
}