@value colors: "../variables.css";
@value customBlue, customRed, customGreen, background-buttonEdit from colors;

.button {
  display: inline-block;
  background-color: background-buttonEdit;
  border: none;
  border-radius: 10%;
  width: min-content;
  height: min-content;
}