.pageNotFoundContainer {
  color: var(--paragraph-color);
}

.donut {
  width: 200px;
}

.h1 {
  font-size: 3em;
  font-weight: 500;
  margin: auto;
}

.pageNotFound {
  font-size: 12em;
  color: var(--paragraph-color);
  margin: auto;
}

.pageNotFoundText {
  margin: auto;
}

