@value colors: "../variables.css";
@value background-buttonShowTranslation from colors;


.buttonShowTranslation {
  width: min-content;
  background-color: background-buttonShowTranslation;
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 1.1rem;
  cursor: pointer;
}