.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.button {
  width: 32px;
  height: 32px;
}

.index {
  width: 100%;
  text-align: center;
  margin: auto;
}

