.card {
  display: flex;
  flex-direction: column;
  width: 200px;
  min-height: 250px;
  align-items: center;
  border-radius: 10px;
  margin: 5%;
  padding: 20px;
  box-shadow: 2px 2px 7px 7px var(--card-shadow);
}

.english {
  font-weight: 700;
  font-size: 1.8rem;
  min-height: 40px;
  margin: 10% 0;
  color: var(--headline-color);
}

.transcription {
  min-height: 40px;
  color: var(--paragraph-color);
}

.translation {
  min-height: 50px;
  margin-top: 30%;
}

.russian {
  height: 40px;
  font-weight: 600;
  color: var(--accent-color);
}

.button {
  height: 40px;
  color: var(--button-text-color) !important;
  background-color: var(--button-color) !important;
}