@value colors: "../variables.css";
@value background-buttonAdd, background-buttonEdit, background-buttonDel from colors;

.table {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 5px 10%;
  background-color: rgb(245, 245, 245);
  border-radius: 8px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
}

.line:hover {
  transform: translateY(-2px);
}

.cell, .english {
  width: 20rem;
  margin: 0 0 0 2%;
}

.english {
  font-weight: 600;
}

.edit, .del, .cancel {
  font-size: 16px;
  cursor: pointer;
  border: none;
  margin: 4px;
  padding: 4px 12px;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.edit {
  background-color: background-buttonEdit;
}

.del, .cancel {
  background-color: background-buttonDel;
}