@value primaryText: black;
@value background-main: white;

@value background-buttonEdit: orange;
@value background-buttonShowTranslation: rgb(83, 182, 137);
@value text-translation: rgb(83, 182, 137);

@value background-card: rgb(197, 197, 197);
@value border-card: rgb(119, 119, 119);





main {
    color: rgb(0, 0, 0);
    color: rgb(119, 119, 119);
    color: rgb(197, 197, 197);
    color: rgb(83, 182, 137);

}