:root {
  --primary-color: rgb(35,70,170);
  --secondary-color: rgb(90, 90, 90);
  --accent-color: brown;
  
  /* --background-menu: white; */
  /* --border-card: rgb(119, 119, 119); */
  --card-shadow: rgba(0, 0, 0, 0.2);

  --primary-text: rgb(0, 0, 0); /* Основной цвет текста */
  /* --secondary-text: rgb(90, 90, 90); Дополнительный цвет */
  /* --accent-text: red; Цвет для выделений */

  --background-main: white; /* Основной фон */
  --background-secondary: rgb(245, 245, 245); /*Вторичный фон*/
  /* --background-dark: #1a1a1a; Тёмный фон */

  /* --button-bg: #3498db; Фон кнопки */
  /* --button-hover-bg: #2980b9; Фон при наведении */
  /* --button-text: #ffffff; Цвет текста */

  /* --background-buttonShowTranslation: rgb(144, 205, 155); */
  /* --text-translation: rgb(83, 182, 137); */
}