:root {
  --background-color: rgb(242, 247, 245);
  --headline-color: rgb(0, 71, 62);
  --paragraph-color: rgb(71, 93, 91);
  
  --button-color: rgb(250, 174, 43);
  --button-text-color: rgb(0, 71, 62);
  
  --card-shadow: rgba(0, 0, 0, 0.2);
  --stroke-color: rgb(0, 51, 44);
  --accent-color: rgb(250, 174, 43);
  --secondary-color: rgb(255, 168, 186);
  --tertiary-color: rgb(250, 82, 70);
}