@value colors: "../variables.css";
@value border-card, background-card, text-translation from colors;


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.button {
  background-color: background-card;
}

.index {
  width: 100%;
  text-align: center;
  margin: auto;
}

