.tr {
  display: flex;
  gap: 1%;
  justify-content: space-between;
  align-items: center;
  margin: 3px 0;
  color: var(--paragraph-color);
}

.tr:hover {
  background-color: var(--accent-color);
}

.td {
  padding: 5px;
  width: 30%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.td:hover {
  overflow: visible;
  text-overflow: unset;
}

.english {
  font-weight: 600;
  color: var(--stroke-color);
}

.trInput {
  display: flex;
  gap: 1%;
  justify-content: space-between;
  align-items: center;
}

.tdInput {
  width: 30%;
}

.input {
  padding: 5px;
  width: calc(99% - 10px);
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--paragraph-color);
  font-family: 'Montserrat';
}

.buttonСontainer {
  display: flex;
  justify-content: space-between;
}

.delete:hover, .cancel:hover {
  color: var(--tertiary-color);
}

.edit:hover {
  color: var(--stroke-color);
}

.add:hover {
  color: var(--button-text-color);
}